<section class="main">
  <div class="col-sm-9 Intro">

     <h1 class="main-title" lang="de">
       <p typewrite type-delay="30" blink-cursor="false" text="Hallo,"></p>
       <p typewrite type-delay="30" initial-delay="1s"  blink-cursor="false" text="Ich bin Ricardo"></p>
       <p typewrite class="grey" type-delay="100" initial-delay="3s" blink-cursor="false" text="UX/UI Designer und"></p>
       <p typewrite class="grey" type-delay="120" initial-delay="5s" type-delay="50" blink-delay="300"  blink-cursor="true" text="Front-End Entwickler! "></p>
     </h1>


  </div>
</section>
